:root{
   font-size: 12px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

   --color-primary: #0d0a13;
   --color-primary-light: #110d18;
   --color-secondary: #fefefe;


   background: var(--color-primary);
   color: var(--color-secondary);

}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

#app{
   height: 100%;
   width: 100%;
   display: grid;
}

main{
   padding: 2rem;
}

#hardwares{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   grid-template-rows: repeat(auto-fit, minmax(30rem, 1fr));
   grid-gap: 1rem;
}

.hardware{
   width: 30rem;
   height: 30rem;
   background: var(--color-primary-light);
   border-radius: 1rem;
}

.speed::after{
   content: " GHz";
}